.wrapper {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 480px;
  position: relative;
}

.content div {
  display: flex;
  justify-content: center;
}

.loading {
  text-align: center;
}

svg {
  background-color: #ffffff;
  -webkit-font-smoothing: none;
}

svg#logoTMA {
  position: absolute;
  width: 100%;
  top: 30px;
}

.tracker1 {
  width: 50%;
}
